:root { /*Este es para establecer colores fijos*/
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --secundario: #023047;
    --primario: #ffb703;
    --gris: #757575;
    --fuente-principal: 3.8rem; 
}

html {
    font-size: 62.5%;
    box-sizing: border-box;   
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.5rem; /* 1rem = 10px */
    font-family: 'Inter', sans-serif;
    background-color: var(--oscuro);   
}

.nav_bar {
    background-color: var(--blanco);
}

.principal {
    display: flex;
    flex-direction: column;
    text-decoration: underline;    
    margin-top: 1.5rem;
    max-width: 120rem;
    margin: 0 auto;
}

@media (min-width: 828px) {
    .principal{
        flex-direction: row;
        text-decoration: none;
        justify-content: center;
    }
}

.principal a {
    text-decoration: none;
    display:block;
    text-align: center;
    padding: 2rem 7rem;
    font-weight: 500;
    color: var(--oscuro);  
}

.principal a:hover{
    color: #DB5461;
    text-decoration: none;
}

.hero{
    background-image: url(../images/skogafoss.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: fixed;
    
}

@media (min-width: 828px) {
    .hero{
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 500px; 
    }
}